@{
    ViewData["Title"] = "Online Project Management";
}

<div class="text-center">
    <h1 class="display-4">To manage your tasks simply and fast</h1>
    <h1 class="display-4">   You can use it ;)</h1>
</div>
