@using Presentation.WebMVCApp.Controllers;
@model Presentation.WebMVCApp.ViewModels.GetTheProjectInfoViewModel;

@{
    ViewData["Title"] = "Project Info";
}

<h4>@ViewData["Title"]</h4>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectInfo!.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProjectInfo!.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="@nameof(Projects.GetProjectInfoList)">Back to List</a>
</div>